<h1>Edit To-Do</h1>
    <ul style="list-style-type:none">
        <li><b>Current Name:</b></li>
        <li></li>
        <li><b>Current Description:</b></li>
        <li class="indentation">
            <%=@t.description%>
        </li>
        <li><b>Current Pomodoro Estimate:</b></li>
        <li class="indentation">
            <%=@t.pomodoro_estimate%> Pomodoro(s)
        </li>
<p></p>
<form action="/todo/update/<%=@t.id%>">
    <ul>
        <li class="form">New Name:</li>
        <li><input type="text" name="name"></li>
        <li class="form">New Description:</li>
        <li><input type="text" name="description"  value="<%=@t.description%>"></li>
        <li class="form">New Pomodoro Estimate:</li>
        <li><input type="number" name="pomodoro_estimate" value="<%=@t.pomodoro_estimate%>"></li>
        <li><input class="button" type="submit" value="Edit To-Do"></li>
    </ul>
</form>
<p></p>
<a href="/todo/show/<%=@t.id%>" class="box">Go Back</a>
<p></p>
<div class="top-right">Vincent</div>